@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-list{
    display: none;
}
.dropdown:hover .dropdown-list{
    display: block;
    position: absolute;
    left: 185px;
    margin-top: -30px;
}

.active{
    @apply text-blue-400
}

.animate-bounce-left{
    animation-name: move-left;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes move-left {
    50%{
        transform: translateX(30%);
    }
}